<header>
  <nav>
    <h1>Resource ✹ Wall</h1>
    <div class="nav-links">
        <a class="nav-items" href="/users/login">Log in</a>
      <a class="nav-items" href="/users/register">Sign Up</a>

    </div>
  </nav>
</header>
