<header>
  <nav>
    <a class="nav-items" href="/">
      <h1>Resource ✹ Wall</h1>
    </a>
    <div class="nav-links">
      <% if (!user) { %>
        <a class="nav-items" href="/users/login">Log in</a>
        <a class="nav-items" href="/users/register">Sign Up</a>
        <% } else { %>
          <p>Logged in as <span>
              <%=user.username%>
            </span>
            <img id="user-picture" src="<%= user.profile_pic %>" />
          </p>
          <a class="nav-items" href="/resources">My Resources</a>
          <a class="nav-items" href="/users/profile">Profile</a>
          <form class="logout-form" action="/logout" method="POST">
            <button type="submit" class="logout-btn">logout</button>
          </form>
          <% } %>
    </div>
  </nav>
</header>
