<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
  <link rel="stylesheet" href="/styles/index.css" />
  <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Save New Post</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Search</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">URL</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Title</label>
            <input id="pass" type="text" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="user" class="label">Description</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="user" class="label">topic</label>
            <input id="topic" type="text" class="input" placeholder="education, job or fun">
          </div>

          <div class="group">
            <button type="submit" class="button">Save</button>
          </div>

        </div>
        <div class="sign-up-htm">
          <div class="group">
            <label for="user" class="label">URL</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">title</label>
            <input id="pass" type="password" class="input">
          </div>

          <div class="group">
            <button type="submit" class="button">Search</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <ul>
    <li>
      <a href="#">

        <p>URL: Title: Description:</p>
      </a>
    </li>
    <li>
      <a href="#">

        <p>URL: Title: Description:</p>
      </a>
    </li>
    <li>
      <a href="#">

        <p>URL: Title: Description:</p>
      </a>
    </li>
    <li>
      <a href="#">

        <p>URL: Title: Description:</p>
      </a>
    </li>
    <li>
      <a href="#">

        <p>URL: Title: Description:</p>
      </a>
    </li>
    <li>
      <a href="#">

        <p>URL: Title: Description:</p>
      </a>
    </li>

  </ul>



</div>

</body>

</html>
