<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resourse Wall | Login</title>

    <!-- META INFORMATION -->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- EXTERNAL CSS -->

    <link rel="stylesheet" href="vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/resource-wall/styles/main.css" />
    <link rel="stylesheet" href="/resource-wall/styles/layout.css" />
    <link rel="stylesheet" href="/resource-wall/public/styles/login.css" />

    <!-- EXTERNAL JAVASCRIPT -->

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
  </head>
  <body>
    <nav>
      
    </nav>
    <form action="/login" method="POST">
      <div>
        <h1>Login</h1>
        <h3>Email address</h3>
        <input
        class="ml-auto"
        type="email"
        name="email"
        placeholder="email@example.com"
        />
        <h3>Password</h3>
        <input
        class="ml-auto"
        type="password"
        name="password"
        placeholder="Enter Password"
        />
      </div>
    </form>
  </body>
</html>
