body {
  margin: 0;
  color: #797f9e;
  background: #eabc86;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-dark.png);
  font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table
}

.clearfix:after {
  clear: both;
  display: block
}

a {
  color: inherit;
  text-decoration: none
}


form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-5px 5px 1rem #000000ca);
}

form div {
  padding: 3%;
  width: 40%;
  background-color: #ffffff;
  color: var(--font-color);
  border-radius: 20px;

  h3 {
    margin-left: 10px;
  }

  input {
    width: 100%;
    height: 40px;
    border: solid 3px var(--border-color);
    border-radius: 20px;
    padding: 0 20px;
  }
}



$circleSize: 165px;
$radius: 100px;
$shadow: 0 0 10px 0 rgba(255, 255, 255, .35);


img {
  // position: absolute;
  object-fit: cover;
  width: $circleSize;
  height: $circleSize;
  border-radius: $radius;

}

